.img-arredondada {
    border-radius: 50%;
    background-position: -15px -15px;
    width: 148px;   
    height: 148px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.w-100 h5{
    font-weight: 600;
    margin-bottom: 12px;
}

.tit-exercicio{
    font-size: 20px;
}
    
.background-div {
    padding: 32px 40px 24px 40px;
    width: 100%;
    background: #2c2229;
    border-radius: 24px;
}

.background-div * {
    color: white;
}
.background-div h1 {
    text-transform: uppercase;
}
.tam-row-name {
    padding-top: 20px;
    height: auto;
}
.tam-row-info {
    padding-top: 20px;
    height: auto;
}
.tam-row-social {
    height: auto;
    margin-top: 20px;
}
.col-info {
    border-left: 2px solid #ffffff;
}

/*ICONS*/

.icon-email {
    width: auto;
    height: 16px;
    margin: 0 8px;
}
.icon-insta {
    width: auto;
    margin: 0 8px;
    height: 16px;
}
.icon-face {
    width: auto;
    margin: 0 8px;
    height: 16px;
}
.icon-tt {
    width: auto;
    margin: 0 8px;
    height: 16px;   
}

.deputy-picture{
    margin-right: 40px;
}

.icon-share-lg {
    display: none;
    justify-content: left;
}

  
.h4-table {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23.04px;
    line-height: 23px;
    color: #212529;
}

.space {
    height: 50px;
}
  
.dark,
.dark .btn,
.dark .btn-secondary:not(:disabled):not(.disabled).active.btn,
.dark .btn-secondary:not(:disabled):not(.disabled):active.btn,
.dark .show > .btn-secondary.dropdown-toggle.btn,
.dark .btn-secondary:hover.btn {
background-color: #2c2229;
border-color: #2c2229;
}

  @media (max-width: 991.98px) {
    .img-arredondada {
      border-radius: 50%;
      background-position: -15px -15px;
      width: 200px;
      height: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .col-info {
      border-left: none;
    }

    .icon-share-mb {
      display: none;
      justify-content: left;
    }

    .icon-share-lg {
      display: flex;
      justify-content: left;
    }
}