.btn-primary.btn {
  color: #fff;
  background-color: #3b1c32;
  border-color: #3b1c32;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3b1c32;
  border-color: #005cbf;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: none;
  border-color: none;
  box-shadow: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #6c757d;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter {
  background-color: #a4d4b4;
}

body {
  margin: 0;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  background-color: #fff;
}

.col-md-2 {
  align-items: flex-end;
  display: flex;
}

.space {
  height: 30px;
}

@media screen and (max-width: 778px) {
  div.filter {
    background-color: transparent;
  }
  .space {
    height: 0;
  }
}
