.activityContainer {
  width: 100%;
  line-height: 4px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  margin: 4px auto;
}

.activityContainer hr{
  background: #ebebeb;
  margin-bottom: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.arrowRight {
  display: block;
}

.profileImage {
  min-width: 64px;
  max-width: 64px;
}

.link {
  text-decoration: none !important;
  color: #212529;
}

.link:hover {
  text-decoration: none !important;
  color: #212529;
}

.img-deputados {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-right: 12px;
  object-fit: cover;
  object-position: top;
}

.targetInfoTitle{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 700px) {
  .profileImage {
    align-self: center;
  }
  .targetInfoStrings {
    font-size: 12px;
    margin-bottom: 6px;
    line-height: 100%;
  }
}

.activityContainer.list-group-item{
  background: transparent;
}

.activityContainer.list-group-item h5, .activityContainer.list-group-item p{
  color: #fff;
}
