.col-format {
  display: flex;
  align-items: center;
  width: 100%;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-data {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.circle {
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.circle-align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.col-data2 {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dadada;
  padding: 20px 20px 20px 35px;
  align-items: center;
}

.col-data3 {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  align-items: center;
}

.col-esp {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-right: 0;
}

.col-esp2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-left: 70px;
}

.col-esp3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-right: 0;
}

.col-esp4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-left: 4px;
  text-align: left;
}

.col-esp5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-left: 0px;
}

.col-esp6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-right: 0;
}

.col-ali {
  margin-left: 20px;
}

.graph-bordered{
  border-radius: 24px;
  border: none;
}

.table-data .charts-row {
  border-bottom: 1px solid #dadada;
}