.img-arredondada {
  border-radius: 50%;
  background-position: -15px -15px;
  width: 325px;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.background-div {
  width: 100%;
  background: #2C2229;
  border-radius: 24px;
}

.background-div-1 {
  width: 100%;
  background: #FFFFFF;
  border-radius: 24px;
  border: 1px solid #343A40;
}
  
.tam-row-name {
  padding-top: 20px;
  height: auto;
}
.tam-row-info {
  padding-top: 20px;
  height: auto;
}
.tam-row-social {
  height: auto;
  margin-top: 20px;
}
.col-info {
  border-left: 2px solid #FFFFFF;
}
.col-line-top {
  border-top: 1px solid #DADADA;
}

/*ICONS*/
.icon-share-responsivo {
  display: flex!important;
  justify-content: flex-end!important;
  align-items: flex-start!important;
}
.icon-email {
  width: 32px;
  height: 24px;
  margin: 10px;
}
.icon-insta {
  width: 28px;
  height: 28px;
  margin: 10px;
}
.icon-face {
  width: 31px;
  height: 30.81px;
  margin: 10px;
}
.icon-tt {
  width: 32px;
  height: 25.99px;
  margin: 10px;
}
.icon-share {
  width: 23px;
  height: 20px;
}
.icon-share-black {
  width: 23px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icon-votacao {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.icon-grafico {
  margin-left: 20px;
  margin-bottom: 10px;
}
.icon-confirma, .icon-cancela, .icon-share-table {
  margin: 10px;
}
  
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33.18px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.87;
}
  
h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 23.04px;
  line-height: 23px;
  color: #FFFFFF;
}
  
h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 19px;
  color: #FFFFFF;
}
  
h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.h4-table {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 23.04px;
  line-height: 23px;
  color: #212529;
}

.p-table {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #212529;
}

.alinhamento-end {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: end;
}

.body-tweets {
  height: 700px;
}

.scpace {
   height: 60px;
}

@media only screen and (max-width: 500px) {
  .col-info {
    border-left: 0px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
  }
  .text-responsivo {
    text-align: center;
  }
  .icon-share-responsivo {
    display: flex!important;
    justify-content: center!important;
  }
  .scpace {
    height: 60px;
 }
}