.img-arredondada {
  border-radius: 50%;
  background-position: -15px -15px;
  height: 300px;
  width: 300px;
 }
  
 .background-div {
  width: 100%;
  background: #2C2229;
  border-radius: 24px;
 }
  
 .tam-row-name {
  padding-top: 20px;
  height: 100px;
 }
 .tam-row-info {
  padding-top: 20px;
  height: 184px;
 }
 .tam-row-social {
  height: 100px;
 }
 .col-info {
  border-left: 2px solid #FFFFFF;
 }
  
 .icon-email {
  width: 32px;
  height: 24px;
  margin: 10px;
 }
 .icon-insta {
  width: 28px;
  height: 28px;
  margin: 10px;
 }
 .icon-face {
  width: 31px;
  height: 30.81px;
  margin: 10px;
 }
 .icon-tt {
  width: 32px;
  height: 25.99px;
  margin: 10px;
 }
 .icon-share {
  width: 23px;
  height: 20px;
 }
  
 h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33.18px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.87;
 }
  
 h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 23.04px;
  line-height: 23px;
  color: #FFFFFF;
  
 }
  
 h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 19px;
  color: #FFFFFF;
 }
  
 h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
 }
 