.propAuthorBox {
    width: 560px;
    height: 104px;
    background: #2C2229;
    border-radius: 24px;
    margin-bottom: 32px;
    padding-left: 16px;
}

.propStatusBox {
    background: #D2FFE1;
    width: 560px;
    border-radius: 24px;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 30px;
    margin-bottom: 1em;
}

.propStatusBox h5 {
    padding-bottom: 8px;
}

.authorNameInfo {
    margin-top: 28px;
    margin-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.authorPartyAndRegionInfo{
    margin-top: 8px;
    margin-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

.propThemeBox {
    background: #D2FFE1;
    border-radius: 12px;
    padding: 4px 6px;
    display: inline-block;
    margin-left: 0px;
    font-family: Open Sans;
    font-size: 13px;
}

.icon-author {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-left: 16px;
    object-fit: cover;
    object-position: top;
    margin-top: 18.42px;
}

.propKeywords {
    font-family: Open Sans;
    font-size: 13.33px;
    margin-top: 20px;
    line-height: 16px;
}

.propMenu{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
}

.propDetailedMenuText {
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 16px;
    font-size: 19.2px;
}

.propDetailedMenuMobile{
    font-family: Open Sans;
    font-size: 18px;
}

/* Estilização da seta comentada
/* @media screen and (max-device-width: 480px) {
    .arrowRight {
      display: none;
      margin-right: 50px;
      text-align: right;
    }
} */