.root {
  display: inline-flex;
}

.card {
  display: inline-flex;
  width: 100%;
  height: unset;
  object-fit: contain;
}

.card:hover {
  pointer-events: fill;
  cursor: pointer;
  box-shadow: #2e2e2e 0 2px 10px -5px;
}

.news-wrapper title {
  position: static;
  width: 215px;
  height: 77px;
  left: 0px;
  top: 0px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.2px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #212529;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 0px;
}

.text {
  position: static;
  width: 215px;
  height: 24px;
  left: 0px;
  top: 83px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6c757d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 6px 0px;
}

.img {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6c757d;
}

img.card-img-top.img{
  height: 144px;
  object-fit: cover;
  object-position: center;
}

.card .hover-only button{
  display: none;
}
.card:hover .hover-only button, .hover-only button:focus{
  display: initial;
}